body {
	padding-top: 68px;
}
  
.img {
    margin: 5px;
    padding: 5px;
    width: 250px;  /* largura da div = largura thumbnail */ 
	height: 250px; /* altura da div = altura thumbnail */ 
    display: block;
  max-width: 100%;
  height: auto;
}
p > input {
	font-size: 14px;
	width: 510px;
  width:100%;
}

#footer {    
    margin-top: 40px;
    background-color: #000; 
    color: #fff; 
    text-align: right; 
    padding: 10px 30px 10px 31px;
}
