
#localize{
  position:absolute;
  right:35px; 
  top:70px;
  z-index:9;
  color: #000;
}

#legenda{
  left:160px;
  bottom:15px;
  border-radius:2px 0 0;
  -moz-border-radius:2px 0 0;
  -webkit-border-radius:2px 0 0;
  position:absolute;
  z-index:999999
}

#detail{
  border-radius:2px 0 0;
  -moz-border-radius:2px 0 0;
  -webkit-border-radius:2px 0 0;

  z-index:999999
}

#filtro{
  left:80px;
  top:75px;
  border-radius:2px 0 0;
  -moz-border-radius:2px 0 0;
  -webkit-border-radius:2px 0 0;
  position:absolute;
  z-index:999999
}

#OpenLayers_Control_Zoom_5{
  top: 70px;
  left: 20px;
}

#mapa_tree_list{
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height:100%;
  background: white;
}


.modal-body{
  left: 0;
  top: 0;

}

#fechar{
  align: center;
}