body {
  padding-top: 10px;
}

#id_foto1{
   width: 200px;
   height: 100%;  
}

#id_foto2{
   width: 200px;
   height: 100%;  
}

#id_foto3{
   width: 200px;
   height: 100%;  
}

p#button{
  padding:20px;
}


#anterior{

  left:150px;
  bottom:15px;
  position:absolute;
}

#continuar{

  left:620px;
  bottom:15px;
  position:absolute;
}

#ultima{

  left:330px;
  bottom:100px;
  position:absolute;
}