{% extends "control_panel.html" %}
{% load user_agents %}
{% load staticfiles %}

{% block title %} Listar | Editar | Excluir Árvores {% endblock %}

{% block content_logged %}

  <link href="{% static 'css/list_tree.css' %}" rel="stylesheet" />
  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script> 
  
    <div class="col-md-12">
      <div class="profile-content">
       <!-- <div id="mapa_tree_list" style="width: 100%; height: 400px;"></div> <!-- Mapa 
        <br/>
          <!-- Lista de Árvores -->

          <h1> <i class="glyphicon glyphicon-tree-deciduous"></i>Árvores</h1>
        
          <hr>
         
          <h3> Busca </h3>
          
          <form id="myForm">
            {{ frm_srch.media }}
            
            {% if user.is_authenticated %}
            {{frm_srch.minhas_arvores}} Minhas Árvores 
            {{frm_srch.todas_arvores}} Todas as Árvores <br/><br/>
            {{frm_srch.user.as_hidden}}
            {% endif %}

             {% if not request.user_agent.is_mobile %}
            
            {{frm_srch.municipio}}
            Bairro: {{frm_srch.bairro}}
            Endereço: {{frm_srch.endereco}}
            <br/>
            Espécie: {{frm_srch.especie}}
            <br/>

            {% endif %}

            <button type="submit">Pesquisar</button>

          </form>

          <script type="text/javascript">
            $('#myForm input').on('change', function() {
                if (document.getElementById('id_minhas_arvores').checked){
                  document.getElementById('id_user').value = {{user.pk}};
                  document.getElementById('id_todas_arvores').value="";
                } else {
                  document.getElementById('id_user').value = " ";
                }
            });
          </script>
         

          <div class="row">    
        <div class="col-md-9">         
          
          <br/>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Espécie</th>
                <th>Endereço</th>
              </tr>
              <tr></tr>
            </thead>
            <tbody>
              {% for arvore in object_list %}
              <tr>
                <td>{{arvore.especie}}</td>

                <td>{{arvore.country}}, {{arvore.administrative_area_level_1}}, {{arvore.locality}}, {{arvore.neighborhood}}, {{arvore.route}}, {{arvore.numero}}, {{arvore.postal_code}}
                </td>
                <td><a href="{% url 'tree_detail' arvore.pk %}">Detalhes</a></td>
              </tr>
              {% endfor %} 
          </tbody>
          </table>  
          </div>
          </div>   
           
          </div>
        </div>

{% endblock content_logged %}
