{% extends "control_panel.html" %}

{% load staticfiles %}

{% block title %} Listar | Editar | Excluir Árvores {% endblock %}

{% block content_logged %}

 
  <link href="{% static 'css/list_tree.css' %}" rel="stylesheet" />

    <div class="col-md-12">
      <div class="profile-content">
       <!-- <div id="mapa_tree_list" style="width: 100%; height: 400px;"></div> <!-- Mapa 
        <br/>
          <!-- Lista de Árvores -->

          <h1> <i class="glyphicon glyphicon-tree-deciduous"></i> Árvores</h1>
        
          <hr>
            
          <div class="row">    
        <div class="col-md-9">         
          
          <br/>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Espécie</th>
                <th>Endereço</th>
              </tr>
            </thead>
            <tbody>
              {% for arvore in object_list %}
              <tr>
                <td>{{arvore.especie}}</td>

                <td>{{arvore.country}}, {{arvore.administrative_area_level_1}}, {{arvore.locality}}, {{arvore.neighborhood}}, {{arvore.route}}, {{arvore.numero}}, {{arvore.postal_code}}
                </td>
              </tr>
              {% endfor %} 
          </tbody>
          </table>  
          </div>
          </div>   
           
          </div>
        </div>

{% endblock content_logged %}
