{% extends "base.html" %}
{% load staticfiles %}

{% block title %} | Minhas Árvores {% endblock %}

{% block content %}

 
  <link href="{% static 'css/list_tree.css' %}" rel="stylesheet" />

    <div class="col-md-12">
      <div class="profile-content">
       <!-- <div id="mapa_tree_list" style="width: 100%; height: 400px;"></div> <!-- Mapa 
        <br/>
          <!-- Lista de Árvores -->

          <h1> <i class="glyphicon glyphicon-tree-deciduous"></i>Minhas Árvores</h1>
         
          <hr>
            
          <div class="row">    
        <div class="col-md-12">         
          
          <br/>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Espécie</th>
                <th>Endereço</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for arvore in object_list %}
              <tr>
                <td data-title="Espécie">{% if not arvore.especie or arvore.especie == ' ' %}Espécie não informada{% else %}{{ arvore.especie }}{%endif%}</td>

                <td data-title="Endereço">{{arvore.administrative_area_level_1}}, {{arvore.locality}}{% if not arvore.neighborhood or arvore.neighborhood == ' ' %}{% else %}, {{arvore.neighborhood}}{% endif %}{% if not arvore.route or arvore.route == ' '%}{% else %}, {{arvore.route}}{% endif %}, {{arvore.numero}}{% if not arvore.postal_code or arvore.postal_code == ' ' %}{% else %}, {{arvore.postal_code}}{%endif%}

                </td>
                <td>
                  <a href="{% url 'tree_detail' arvore.pk %}" class="btn">
                    Detalhes
                  </a>
                </td>

                <td>
                  <a href="{% url 'tree_form' arvore.pk %}" class="btn btn-warning">
                    <span class="glyphicon glyphicon-pencil"></span> 
                    Editar
                  </a>
                </td>
                <td>
                  <a href="{% url 'tree_delete' arvore.pk %}" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span> 
                    Excluir
                  </a>
                </td>
              </tr>
              {% endfor %} 
          </tbody>
          </table>  
          </div>
          </div>   
           
          </div>
        </div>

{% endblock content %}
