{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<htmls lang="en">
<!--<![endif]-->
<!-- HEAD SECTION -->
<head>
    <meta charset="utf-8">
   
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    
    <title>Salve uma Árvore | {% block title %}  {% endblock %}</title>
    
    <!--GOOGLE FONT -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    
    <!--BOOTSTRAP MAIN STYLES -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
   
    <link href="{% static 'css/bootstrap-social.css' %}" rel="stylesheet" />
    
    <!--FONTAWESOME MAIN STYLE -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
    
    <!--CUSTOM STYLE -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
    <!--END HEAD SECTION -->

<body>  
    <div class="loader"></div>
 
    <!-- NAV SECTION -> MENU -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="/static/img/logo_green.png"  height="34" width="65"/>
                </a>
            </div>
            
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    
                    {% if user.is_authenticated %}
                    
                        <li>
                          
                            <a href="{% url 'control_panel' %}">
                                <i class="icon-bar-chart"></i>
                                GRÁFICOS
                            </a>
                        </li>
                        <li>
                          
                            <a href="{% url 'tree_list' %}">
                                <i class="icon-bar-chart"></i>
                                ÁRVORES
                            </a>
                        </li>
                        
                        <li>
                            <a href="{% url 'tree_form' %}">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                                CADASTRAR ÁRVORE
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'map' %}">
                                <span class="fa fa-globe"></span>
                                MAPA
                            </a>
                        </li>

                        <li>
                            <a href="#" class="dropdown-toggle-inverse" data-toggle="dropdown" role="button" aria-expanded="false" font style="text-transform: uppercase;"> 
                                {{user.username}} 
                                <span class="caret"></span></a>
                            </a>
                                    
                            <ul class="dropdown-menu inverse " role="menu">
                                
                                <li>
                                    <a href="{% url 'user_tree_list' user.username %}">
                                        <i class="glyphicon glyphicon-user"></i> 
                                         MINHAS ÁRVORES
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="/logout/">
                                        <i class="fa fa-power-off"></i> 
                                         SAIR
                                    </a>
                                </li>
                            </ul>

                        </li>
                        
                    {% else %}
                        
                        <li><a href="{% url 'signin'%}">REGISTRAR</a></li>
                        <li><a href="/login/"> <i class="fa fa-sign-in"></i> ACESSAR </a></li>
                        
                    {% endif %}
                </ul>
            </div>  
        </div>
    </div>
    <!--END NAV SECTION -->


    {% block content %}
    
<!-- Page Content -->
    <div class="container">
        <div class="row">    
            <div class="col-md-12">
                <br/>
                <br/>
                <img src="/static/img/logo_salve1.png" height="500" width="1000" />
                <br/>
                <br/>
            </div>
       </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    
    {% endblock content %}
    <!--END BASIC INFO SECTION -->
    
    <!--FOOTER SECTION 
    <div id="footer">
        <div class="container">
            <div class="row ">
                &copy; salveumaarvore.com.br | 2015				
		
            </div>
        </div>
    </div>  
     <!--END FOOTER SECTION -->

    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY LIBRARY -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>  
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- CORE BOOTSTRAP LIBRARY -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- CUSTOM SCRIPT-->
    <script src="{% static 'js/custom.js' %}"></script>
   
</body>
</html>
