{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Alterar Senha{% endblock %}

{% block content %}
	<link href="{% static 'css/change_password.css' %}" rel="stylesheet" />

    		<div class="col-md-9">
    			<div class="profile-content" style="text-align:center;">
    				<br/>
    				<br/>
    				<br/>
    				<br/>
    				<br/>
    				<br/>
    				<br/>
      				<h1>Senha alterada com sucesso !</h1>
      				<br/>
      				<br/>
					<p>Sua senha foi alterada.</p>
					<br/>
					<a href="{% url 'control_panel' %}" class="btn btn-success">Voltar</a>
				</div>

			</div>   		
		</div> <!-- Final do Div md-9 -->
	</div> <!-- Final do Container -->

{% endblock%}
