{% extends "control_panel.html" %}

{% load staticfiles %}

{% block title %}Alterar Senha{% endblock %}

{% block content_logged %}

	<link href="{% static 'css/change_password.css' %}" rel="stylesheet" />

    		<div class="col-md-9">
    			<div class="profile-content">
      				<h3 align="center">
      					Por questões de segurança, informe sua senha atual e em seguida, digite e confirme a nova senha
      				</h3>
      			
      				<br/>

      				<form method="post">
      					{% csrf_token %}
							
              {{form.as_p}}
				      
							<p align="center">

								<button type="submit" class="btn btn-success">
									<span class="glyphicon glyphicon-edit"></span> 
									Alterar Senha
								</button>
				        		&nbsp;
        						&nbsp;
        						&nbsp;
				
								<a href="{% url 'profile' user.username %}" class="btn btn-danger">Cancelar</a>
							</p>
				
						<script type="text/javascript">
							document.getElementById("id_old_password").focus();
						</script>
			
					</form>
        
				</div>

			</div>   		
		</div> <!-- Final do Div md-9 -->
	</div> <!-- Final do Container -->

{% endblock%}