{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    | Deletar Árvore {{ object.id }}
{% endblock %}

{% block content %}
  
  <link href="{% static 'css/delete_tree.css' %}" rel="stylesheet" />
 
              <div class="profile-content" style="font-family:sans-serif">
 
          <br/>
    
          <div class="col-md-6">
            <p align="center"><h4>DADOS DA ÁRVORE {{ object.id }} </h4></p>
            <label style="font-weight: normal;">Espécie: {{ object.especie }}</label>
            <br/> <br/>
            <label style="font-weight: normal;">Endereço </label>
            <label style="font-weight: normal;">{{object.administrative_area_level_1}}, {{object.locality}}, {{object.neighborhood}}, {{object.route}}, {{object.numero}}, {{object.postal_code}}</label>
            <label style="font-weight: normal;">Ponto de Referência: {{ object.point_of_interest }}</label>
            <br/> <br/>
            <label style="font-weight: normal;">Altura: {{ object.altura }}</label>
            <br/> 
            <label style="font-weight: normal;">Diâmetro: {{ object }}</label>
            <br/> 
            <label style="font-weight: normal;">Informações: {{ object.descricao }}</label>
            
          </div>
        
          <div class="col-md-6" align= "right" >
            <div id="mapdiv" style="width: 100%; height: 300px;"></div> <!-- Mapa -->
          </div>

          <div class="col-md-12" align= "right">
            <p>
              <form method="post">
                {% csrf_token %}
                <label style="font-weight: normal;">Confirma deleção da árvore "{{object.id}}"?</label>
                <br/>
                <br/>
                <button type="submit" class="btn btn-danger">
                  <span class="glyphicon glyphicon-trash"></span> 
                  Confirmar
                </button>
              
                &nbsp;
                &nbsp;
                &nbsp; 

                <a href="{% url 'tree_list' %}" class="btn btn-primary btn-warning">Cancelar</a>
              </form>
            </p>
          </div>
  <style type="text/css">

    #mapdiv{
      width: 100%; height: 430px;
    }

    html, body {
      width:100%; height:100%; margin:0;
    }
          
    .olImageLoadError { display: none; }

  </style>
  

  <script src="{% static 'openlayers/OpenLayers.js' %}"></script> 
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>  
  
    <script type="text/javascript">  

    var map = new OpenLayers.Map('mapdiv');
    
    map.addLayer(new OpenLayers.Layer.OSM());
    map.zoomToMaxExtent();
                
    var markers = new OpenLayers.Layer.Markers( "Markers" );
    markers.id = "Markers";
    map.addLayer(markers);

    var size = new OpenLayers.Size(40,42);
    var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
    var icon = new OpenLayers.Icon('/static/img/marker.png', size, offset);   
    var markerslayer = map.getLayer('Markers');
    
     var lat1 = String([{{ object.geometry.x }}]);
      var lat = lat1.replace(",", ".")

      var lon1 = String([{{ object.geometry.y }}]);
      var lon = lon1.replace(",", ".")

      var lonlat = new OpenLayers.LonLat( lon, lat )
      
      lonlat.transform(
        new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
        map.getProjectionObject() // to Spherical Mercator Projection
      );
      console.log(lonlat);
      console.log("Lat ", lat);
      console.log("Lon ", lon);
      map.setCenter (lonlat, 16);

      markerslayer.clearMarkers();
      markerslayer.addMarker(new OpenLayers.Marker(lonlat,icon));
    </script>

{% endblock content %}