{% extends "base.html" %}

{% load staticfiles %} {% load user_agents %}

{% block title %} Painel de Controle {% endblock %}

{% block content %}
  
  
  <div class="container">       
        
    <div class="row profile">
      
      {% block content_logged %}

       <link href="{% static 'css/control_panel.css' %}" rel="stylesheet" />
       <script src="{% static 'js/Chart.min.js' %}"></script>

      <div class="col-md-12">

        <div class="profile-content">

          <style type="text/css">
            .box {
                margin: 0px auto;
                width: 70%;
            }

            .box-chart {
                width: 100%;
                margin: 0 auto;
                padding: 10px;
            }
          </style>  
          
          {% if not request.user_agent.is_mobile %}
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Árvores por Estados</h3>
              </div>
              <div class="panel-body">
              <div class="box-chart">
              <canvas id="GraficoBarraEstados" style="width:100%;"></canvas>
            </div>
              </div>
            </div>
            
          </div>

          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Árvores por Cidades</h3>
              </div>
              <div class="panel-body">
              <div class="box-chart">
              <canvas id="GraficoBarraCidades" style="width:100%;"></canvas>
            </div>
              </div>
            </div>
          </div>

          {% else %}

          <h5> Árvores por Cidades </h5>

          <div id="cidades"></div>
          
          <h5> Árvores por Estados </h5>
          <div id="estados"></div>

          {% endif %}

              <script type="text/javascript">     

                function removeDuplicado(arr) {
                  var a = [], b = [], prev;
    
                  arr.sort();
                  for ( var i = 0; i < arr.length; i++ ) {
                    if ( arr[i] !== prev ) {
                      a.push(arr[i]);
                      b.push(1);
                    } else {
                      b[b.length-1]++;
                    }
                    prev = arr[i];
                  }
    
                  return [a, b];
                }                                   

                var options = {
                    responsive:true
                };

                cidades = [];
                estados = [];

                {% for arvore in object_list %}
                  cidades.push("{{arvore.locality}}");  
                  estados.push("{{arvore.administrative_area_level_1}}");
                {% endfor %}
                
                var totalCidades = removeDuplicado(cidades);
                
                var data_cidades = {
                    
                    labels: totalCidades[0],

                    datasets: [
                        {
                            
                            fillColor: "rgba(151,187,205,0.5)",
                            strokeColor: "rgba(151,187,205,0.8)",
                            highlightFill: "rgba(151,187,205,0.75)",
                            highlightStroke: "rgba(151,187,205,1)",
                            data: totalCidades[1]
                        }
                    ]
                };    
                
                //gráfico por estados
                
                var totalEstados = removeDuplicado(estados);

                var data_estados = {
                    
                    labels: totalEstados[0],

                    datasets: [
                        {
                            
                            fillColor: "rgba(151,187,205,0.5)",
                            strokeColor: "rgba(151,187,205,0.8)",
                            highlightFill: "rgba(151,187,205,0.75)",
                            highlightStroke: "rgba(151,187,205,1)",
                            data: totalEstados[1]
                        }
                    ]
                };    
                
                window.onload = function(){
                  var ctx = document.getElementById("GraficoBarraCidades").getContext("2d");
                  var BarChart = new Chart(ctx).Bar(data_cidades, options);
                  
                  var ctx2 = document.getElementById("GraficoBarraEstados").getContext("2d");
                  var BarChart2 = new Chart(ctx2).Bar(data_estados, options);
                }      

            </script>


        
      </div>
    </div> <!-- Final do Div md-12-->
  </div>

</div> <!-- Final do Container -->

{% endblock content_logged %}
{% endblock content %}
