{% extends "base.html" %}

{% load staticfiles %}

{% block title %} Listar | Editar | Excluir Árvores {% endblock %}

{% block content %}

  <link href="{% static 'css/map.css' %}" rel="stylesheet" />
  
  <div id="mapa_tree_list" style="width: 100%; height: 555px;position:absolute;"> <!-- Mapa -->
    
  </div>
  <div>
    <a id="localize" href="" onclick="getLocation()"><i class="fa fa-crosshairs fa-4x"></i>
</a>
  </div>
  
 <div class="container" style="position:static; ">

     
</div>


<!-- JavaScript Mapa -->
  <script src="{% static 'openlayers/OpenLayers.js' %}"></script> 
  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>  

  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>  

  <script type="text/javascript">
    
    $( document ).ready(function() {
      getLocation();
    
    });   

      //função para encontrar localização do usuário (shared location - Google)
  function getLocation() {
    var geolocation_support = document.getElementById("d");
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
      geolocation_support.innerHTML = "Geolocation is not supported by this browser.";
    }
  };

  //função para marcar (add ícone) posição no mapa e chama função para buscar endereço com as coordenadas (getLocation - Google)
  function showPosition(position) {
    var lonlat = new OpenLayers.LonLat(position.coords.longitude, position.coords.latitude)
    lonlat.transform(
      new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
      map.getProjectionObject() // to Spherical Mercator Projection
    );

    map.setCenter (lonlat, 15);
  };
  //fim das funções

     function jump(lat,lon, zoom) {
       
      var lonLat = new OpenLayers.LonLat( lon, lat ).transform(
        new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
        map.getProjectionObject() // to Spherical Mercator Projection
      );
      map.setCenter (lonLat, zoom);
    }

    map = new OpenLayers.Map("mapa_tree_list");
    map.addLayer(new OpenLayers.Layer.OSM());
  
    epsg4326 =  new OpenLayers.Projection("EPSG:4326"); //WGS 1984 projection
    projectTo = map.getProjectionObject(); //The map projection (Spherical Mercator)
   
    var lonLat = new OpenLayers.LonLat( -47.5356, -18.2246).transform(epsg4326, projectTo);
          
    var zoom=5;
    
    var markers = new Array();
    map.setCenter (lonLat, zoom);

    var vectorLayer = new OpenLayers.Layer.Vector("VectorPoints");

    {% for arvore in object_list %}

      var lat1 = String([{{ arvore.geometry.x }}]);
      var lat = lat1.replace(",", ".")

      var lon1 = String([{{ arvore.geometry.y }}]);
      var lon = lon1.replace(",", ".")
      markers.push([{{arvore.id}}, lon, lat]);
    {% endfor %}

    for (var i=0; i<markers.length; i++) {
      var lon = markers[i][1];
      var lat = markers[i][2];
       
      var feature = new OpenLayers.Feature.Vector(
        new OpenLayers.Geometry.Point( lon, lat ).transform(epsg4326, projectTo),
          {description: "<div style='text-align:right'>" + 
            "<a href='#' onClick='jump(" +markers[i][2]+", "+markers[i][1]+", 18); return false;'>Ampliar</a></div>" + 
            "<div style='text-align:left'>Id: " + markers[i][0] + "<br/>Latitude: " + markers[i][2] + 
            "<br/>Longitude: " + markers[i][1] + "</div>" + 
            "<div style='text-align:right'><a href='#' onClick='jump(-18.2246, -47.5356, 3); return false;'>Voltar</a></div>"},
          {externalGraphic: '/static/img/marker.png', graphicHeight: 36, graphicWidth: 32, graphicXOffset:-12, graphicYOffset:-26}
      );             
      
      vectorLayer.addFeatures(feature);

    } // fim do for   

    map.addLayer(vectorLayer);

    //Add popup
    var controls = {
      selector: new OpenLayers.Control.SelectFeature(vectorLayer, 
        { onSelect: createPopup, onUnselect: destroyPopup })
    };
   
    function createPopup(feature) {
      feature.popup = new OpenLayers.Popup.FramedCloud("popup",
        feature.geometry.getBounds().getCenterLonLat(),
        null,
        '<div class="markerContent">'+feature.attributes.description+'</div>',
        null,
        true,
        function() { controls['selector'].unselectAll(); 
    });
  
    //feature.popup.closeOnMove = true;
    map.addPopup(feature.popup);
    }

    function destroyPopup(feature) {
      feature.popup.destroy();
      feature.popup = null;
    }
    
    map.addControl(controls['selector']);
    controls['selector'].activate();

    Event.observe(window, "resize", function() {
    var dim = document.viewport.getDimensions(); // get the viewport dimensions
    map.div.setStyle({width:dim.width+'px', height:dim.height+'px'}); // change OpenLayers map *container* size
    map.size(dim.width, dim.height); // adjust the map's size
    map.updateSize(); // tell the map to adjust itself
});
</script>          

{% endblock content %}
