{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    Formulário de Árvores
{% endblock %}


{% block content %}

  <link href="{% static 'css/tree_form.css' %}" rel="stylesheet" />
 
   
  <div class="container">

    <div class="row profile">
      <div class="col-md-3">

        <!-- Sidebar -->
        <div class="profile-sidebar">
        
          <!-- Imagem -->
          <div class="profile-userpic">
            <img src="/static/img/user.png" class="img-responsive" alt="">
          </div>
        
          <!-- Titulo -->
          <div class="profile-usertitle">
            <div class="profile-usertitle-name" font style="text-transform: uppercase;"> 
              {{user.username}} 
            </div>
          </div>
        
          <!-- Menu -->
          <div class="profile-usermenu">
            <ul class="nav">

              <li>
                <a href="{% url 'control_panel' %}">
                  <i class="glyphicon glyphicon-th-list"></i>
                  PAINEL DE CONTROLE
                </a> 
              </li>

              <li>
                <a href="{% url 'profile' %}">
                  <i class="glyphicon glyphicon-user"></i>
                  MEU PERFIL
                </a> 
              </li>
              
              {% if not request.user.userprofile.google_id %}

              <li>
                <a href="{% url 'password_change' %}">
                  <i class="glyphicon glyphicon-cog"></i>
                  ALTERAR SENHA
                </a>
              </li>
              
              {% endif %}
              
              <li>
                <a href="{% url 'map' %}">
                  <span class="glyphicon glyphicon-map-marker"></span>
                    VISUALIZAR MEU MAPA
                </a>
              </li>
              
              <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo">
                  <span class="glyphicon glyphicon-tree-deciduous"></span>
                  ÁRVORE 
                  <i class="fa fa-fw fa-caret-down"></i>
                </a>
                <ul id="demo" class="nav">
                  <li>
                    {% if not form.instance.id %}
                    <li class="active">
                    {% else %}
                    <li>
                    {% endif %}
                      <a href="{% url 'tree_form' %}">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                        ADICIONAR
                      </a>
                    </li>
                    
                    {% if form.instance.id %}
                    <li class="active">
                    {% else %}
                    <li>
                    {% endif %}
                      <a href="{% url 'tree_list' %}">
                        <i class="glyphicon glyphicon-list"></i>
                        LISTAR | EDITAR | EXCLUIR 
                      </a>
                    </li>

                  </li>
                </ul>
              </li>
         
          </ul>

        </div> <!-- Final do Menu -->
      </div> <!-- Final do Sidebar -->
    </div> <!-- Final do Div md-6 -->

    <div class="col-md-9">
      <div class="profile-content">
        </p>
        
        <form method="POST"  enctype="multipart/form-data">
        {% csrf_token %}
        
        {{ form.as_p }}
        
        <div id="dvPreview" align="center"></div>
        
        {% if form.instance.foto %}
            <style type="text/css">
              p > a {
                background-image: url({{ form.instance.foto.url }});
                background-position: center center;
                background-repeat:no-repeat;
                background-size: contain;
                display:list-item;
                height:190px;
                overflow:hidden;
                text-indent:100%;
                white-space:nowrap;
            }
            </style>
        {% endif %}
        
        <p align="center">

            {% if not form.instance.id %}

            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-plus-sign"></span> 
                Cadastrar
            {% else %}

              <br>       
            
            <button type="submit" class="btn btn-warning">
                <span class="glyphicon glyphicon-pencil"></span> 
                Alterar
            {% endif %}
        </button>
        &nbsp;
        &nbsp;
        &nbsp;
        <button type="submit" onclick="{% url 'control_panel' %}" class="btn btn-danger" id="cancelar">
            <span class="glyphicon glyphicon-remove"></span> 
            Cancelar
        </button>
        </p> 

    </form>
        </div>
      </div> <!-- Final do Div md-9 -->
  </div>

</div> <!-- Final do Container -->

 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

 <script language="javascript" type="text/javascript">
  $(function () {
    $("#id_foto").change(function () {
        if (typeof (FileReader) != "undefined") {
            var dvPreview = $("#dvPreview");
            dvPreview.html("");
            var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
            $($(this)[0].files).each(function () {
                var file = $(this);
                if (regex.test(file[0].name.toLowerCase())) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var img = $("<img />");
                        img.attr("style", "height:25%;width: 25%");
                         img.attr("class", "img-thumbnail");
                        img.attr("src", e.target.result);
                        dvPreview.append(img);
                    }
                    reader.readAsDataURL(file[0]);
                } else {
                    alert(file[0].name + " is not a valid image file.");
                    dvPreview.html("");
                    return false;
                }
            });
        } else {
            alert("This browser does not support HTML5 FileReader.");
        }
      });
    });
  </script>

{% endblock content %}

