{% extends "control_panel.html" %}

{% load staticfiles %}

{% block title %}Meu Perfil{% endblock %}

{% block content_logged %}
	
	<link href="{% static 'css/profile.css' %}" rel="stylesheet" />
    		<div class="col-md-9">
    			<div class="profile-content">
      			
      				<br/>
              <br/>
              <br/>
      		
      				<form method="post">
      					{% csrf_token %}
							{{form.as_p}}
				
							<p align="center">

								<button type="submit" class="btn btn-success">
									<span class="glyphicon glyphicon-ok-circle"></span> 
									Salvar
								</button>
				        		&nbsp;
        						&nbsp;
        						&nbsp;
				
								<a href="{% url 'control_panel' %}" class="btn btn-danger">Cancelar</a>
							</p>
				
						<script type="text/javascript">
							document.getElementById("id_old_password").focus();
						</script>
			
					</form>
				</div>

			</div>   		
		</div> <!-- Final do Div md-9 -->
	</div> <!-- Final do Container -->

{% endblock%}