{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
  <link href="{% static 'css/signin.css' %}" rel="stylesheet" />

  <div class="container">
  
    <div class="col-xs-12 .col-sm-6 .col-lg-8">
      
      <div class="panel panel-default">
       
        <div class="panel-body">  
          <div class="col-md-6">
            <h2 align="center">
              <img class="img" src="/static/img/add_user.png"/>
              <br/>
              <small>Por favor entrar com os dados para realizar cadastro</small>
            </h2>
          
            <hr>
            
            <h2 align="center"><small> Ou </small></h2>
              
            <p align="center">

              <a class="btn btn-social btn-google" href="{% url 'socialauth_begin' 'google-oauth2' %}">
                <i class="fa fa-google-plus-square"></i> 
                Acesse com o Google
              </a>
              <br/>
              <br/>
              <a class="btn btn-social btn-facebook" href="{% url 'socialauth_begin' 'facebook' %}">
                <i class="fa fa-facebook-square"></i> 
                Acesse com o Facebook
              </a>
            </p>
          </div>
          <div class="col-md-6">
            <form class="registrar" method="POST">
              {% csrf_token %}
              <br/>
              <br/>
              
              {{ form.as_p }}
            
              <button class="btn btn-primary btn-block" type="submit">Registrar</button>
            </form>
          </div>
        </div>
      </div> <!-- panel -->
    </div> 

  </div> <!-- /container -->
 
{% endblock content %}
